.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.player-input {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(227, 121, 220, 0.354);
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
}

.player-input > input {
    border: none;
    padding: 10px;
    border-radius: 20px;
    width: 80%;
    outline: none;
    text-align: center;
}

.player-input > button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.player-input > button:hover {
    background-color: lightgreen;
    color: black;
}

.game {
    background-color: rgba(227, 121, 220, 0.354);
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.game-name {
    margin: 20px 0;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game button {
    padding: 10px 30px;
    background-color: tomato;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.game button:hover {
    background-color: rgb(240, 128, 240);
}
.game img{
    border-radius: 20px;
}

.game-data>button{
    padding: 10px 30px;
    background-color: lightseagreen;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.data {
    width: 800px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(169, 169, 169, 0.256);
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.box {
    display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 30px;
        margin-top: 20px;
}

.details {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
    text-align: center;
}
